#!/bin/bash

# This is an example.
# Create a _variables.sh file in the root and add these variables to allow the scripts to work their magic.

# Variables for all modules
CHAIN_ID=genesis_29-2
BINARY_NAME=genesisd
NODE_DIR_NAME=.genesis
NODE_DIR=$HOME/$NODE_DIR_NAME
CONFIG_DIR=$NODE_DIR/config
DATA_DIR=$NODE_DIR/data

# /fetch module variables.
# Adviced is to create a repo containing a genesis.json, seeds.txt, peers.txt and rpc_servers.txt file.
# See: https://github.com/zenodeapp/genesis-parameters/tree/main/genesis_29-2 for an example.
FETCH_URL=https://raw.githubusercontent.com/zenodeapp/genesis-parameters/main/$CHAIN_ID
SEEDS_URL=$FETCH_URL/seeds.txt
PEERS_URL=$FETCH_URL/peers.txt
STATE_URL=$FETCH_URL/genesis.json
RPC_SERVERS_URL=$FETCH_URL/rpc_servers.txt

# /info module variables.
IP_INFO_PROVIDER=ipinfo.io/ip

# /service module variables.
SERVICE_DIR=$(cd "$(dirname "$0")"/../.. && pwd)/services # Where the service file is located, this example points two directories back based on /service/* (e.g. /service/install.sh/../../services).
SERVICE_FILE=$BINARY_NAME.service
